ion-content{
    // --background: #7e9ee7;  /* fallback for old browsers */
    // --background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    // --background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

    
    
   
    
.login_btn {
    --background: #ab46b4;
    width: 100%;
}

// .login_btn {
   
//    text-align: center;
//    text-transform: uppercase;
//    transition: 0.5s;
//    background-size: 200% auto;
//    color: rgb(66, 65, 65);    
//    width: 100%;        
//    box-shadow: 0 0 20px #eee;
//    border-radius: 10px;
//    display: block;
//    font-family: 'Courier New';
//    font-weight: 900;
   
//  }

 

   
    

ion-input{
border-radius: 8px;
border: 1px solid rgb(181, 119, 218);
text-align:center;
top: 50%;
font-family: 'Courier New';
font-weight: 900;
--background: linear-gradient(#a6c1ee 100%);





}
.form_login_css{
    margin-top: 45%;
    
}
.invalid_input_msg{
    font-size: 14px;
    color:rgb(148, 21, 21);
    text-align: center;
    font-family:  'Courier New';
    font-weight: 900;

}
.mobile_number{
    position:static;
}
.footer_styles{
   
    --background: linear-gradient(to bottom, #fbc2eb 100%, #a6c1ee 0%);
    background-color:#fbc2eb;
}
.header_styles{
    --background: linear-gradient(to bottom, #a6c1ee 0%, #a6c1ee 100%);
    background-color:#a6c1ee;
}