<ion-header [translucent]="true">
  <ion-toolbar>
   
    <ion-title style="top: 50%;text-align: center;font-weight: 900;">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form class="form_login_css" [formGroup]="LoginForm">
 
  

  <ion-row>
    <ion-col >
      
          <ion-input formControlName="formControl_MobileNumber" class="mobile_number" type="number" placeholder="Enter your mobile number"></ion-input>
          <p class="invalid_input_msg" *ngIf="this.LoginForm.get('formControl_MobileNumber').touched&&!this.LoginForm.get('formControl_MobileNumber').valid">
            * Please enter a valid mobile number 
          </p>
    </ion-col>
    
  </ion-row>
  

</form>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size=11.5>
      <ion-list>
        <ion-item>
          <ion-button [disabled]="" class="login_btn">Login</ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-footer>